body {
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
}

section:first-of-type {
  height: 90vh;
}

@media (min-width:640px) {
  .navbar-header {
   margin: 0 auto;
   display: table;
   margin-right: 50px;
 }
}

.icon-bar {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #00a0de;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
  transform: rotate(-45deg) translate(-5px, 5px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

#myNavbar {
  font-size: 16px;
}

#myNavbar li {
  padding: 10px;
  padding-right: 30px;
}

#myNavbar a {
  color: rgb(163, 163, 163);
}

.page1 {
  background-image: url(images_f/landing_hand_mobile.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (max-width:640px) {
  .page1 {
    background-image: url(images_f/landing_mobile.png);
    background-position: bottom right;
    background-size: auto;
  }
}

.subscribe {
  position: relative;
  top: 10%;
  left: 10%;
}

.intro h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  color: rgb(0, 1, 0);
}

.intro h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: rgb(75,98,104);
}

.subscribe input {
  font-family: 'Roboto Slab', serif;
  background-image: url(images_f/landing_mail_ic.png);
  background-size: 25px 18px;
  background-position: 3% 44%;
  background-repeat: no-repeat;
  padding-left: 39px;
  height: 35px;
  background-color: #EEEEEE;
  border: none;
}

.subscribe input:hover {
  background-color: #DADFE1;
  margin: 0;
}

.subscribeBtn {
  background-color: #00a0de;
  color: white;
  height: 35px;
  margin-top: -1%;
}

.img_circle {
  position: absolute;
  bottom: 0%;
}

@media (max-width:640px) {
  .img_circle {
    max-width: 150px;
    max-height: 150px;
  }
}

.page2 {
  height: 30vh;
}

@media (max-width:640px) {
  .page2 {
    height: 100vh;
  }
}

.strip_1 {
  position: relative;
  background-color: #013c4c;
  width: 100%;
  height: 30vh;
}

@media (max-width:640px) {
  .strip_1 {
    height: 100vh;
  }
}

.strip_1 div {
  font-family: 'Roboto Slab', serif;
  color: rgb(255,255,255);
  text-align: center;
}

.howit {
  font-size: 22px;
  position: relative;
  top: 10%;
}

.features {
  position: relative;
  top: 20%;
}

.bank .setup .free {
  font-size: 14px;
}

@media (max-width:640px) {
  .features {
    height: 75vh;
  }
  .setup {
    top: 10%;
  }
  .free {
    top: 20%;
  }
}

.finImg {
  position: relative;
  background-image: url(images_f/landing_thinking_ic.png);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 70vh;
}

@media (max-width:640px) {
  .finImg {
    height: 100vh;
    background-position: bottom left;
  }
}

.finHead {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  color: #00a0de;
  position: relative;
  left: 40vw;
  top: 5vh;
}

.finImg p {
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  position: relative;
  left: 28%;
  top: 16.5vh;
  color: rgb(255,255,255);
}

@media (max-width:640px) {
  .finHead {
    left: 10vw;
  }
  .finImg p {
    left: 28vw;
    top: 34vh;
  }
}

.site {
  background-color: #013c4c;
  width: 100%;
  height: 30vh;
  padding: 3%;
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  color: rgb(255,255,255);
}

@media (max-width:640px) {
  .site {
    height: 90vh;
    font-size: 22px;
    padding: 0;
  }
}

.foo {
  background-color: #01aee6;
  height: 7vh;
}

@media (max-width:640px) {
  .foo {
    height: 30vh;
  }
}

.list {
  margin-right: 26px;
  margin-top: -24px;
}

.menu_s li {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  top:0px;
}

.foo p {
  position: relative;
  left: 80px;
  font-size: 14px;
  color: rgb(255,255,255);
  font-family: 'Roboto Slab', serif;
  top: 23px;
  margin: 0;
}

.copyright {
  position: relative;
  left: 225px;
}

.term {
  position: relative;
  left: 40px;
}
