*{

	margin: 0;
	padding:0;
}
	/*body {
			max-width: 100%;
    		overflow-x: hidden;
		}*/

		/*@media screen and (max-width: 1024px) { 
		  .bg {
    left: 50%;
    margin-left: -512px;  
  }
}*/
header{
	background-color: white;
	height: 60px;
}

.logo{
	position: relative;
	float: left;
	top: 20px;
	left: 60px;

}

.menu{
position: relative;
list-style: none;
float: right;
right: 80px;
height: 60px;
margin: 0;
}

.menu li{
	position: relative;
	display: inline-block;
	/*margin-left: 90px;
	*/top: 20px;
	left: 20px;
	margin-left: 60px;
	
}

.menu li a{
font-size: 16px;
color: black;
text-decoration: none;
font-family: 'Roboto Slab', serif;
color: rgb(163,163,163);
}

.menu li a:hover{
	color: #1a5276;
	/*border-bottom: 3px solid   #1a5276  ;
	transition: all 0.5s ease-in;
	padding:10px 0px;*/
}


.bg{

	background-image: url(images_f/landing_hand_mobile.png);
	height: 110vh;
	background-repeat: no-repeat;
	background-position: 100% 20%;
	display: flex;
}

.main{
	height: 68%;
	width: 50%;
}

.main h1,h3,input,button{
	position: relative;
	top: 100px;
	left: 60px;
	margin: 0;

}

.main h1{
	font-size: 22px;
	color: rgb(0,1,0);
	font-family: 'Roboto Slab', serif;

}


.main h3{
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
	color: rgb(75,98,104);
	margin: 0;
}
.main input{
	font-family: 'Roboto Slab', serif;
	background-image: url(images_f/landing_mail_ic.png);
	background-size:30px 18px;
	background-position:3% 44%;
	background-repeat: no-repeat;
	padding-left: 39px;
	height: 33px;
	background-color: #EEEEEE;
	border: none;
}

.main input:hover{
background-color: #DADFE1;
margin:0;
}
.main button{
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	color:rgb(255,255,255);
	background-color:#00a0de;
	width: 120px;
	height: 33px;
	left: 70px;
	border: none;
	margin: 0;

}

.bg img{
	position: absolute;
	top: 548.5px;
	left: 0px;
	width: auto;
	height: auto;
}

.strip_1{
	position: relative;
	background-color: #013c4c;
	width: 100%;
	height: 200px;

}

.strip_1 h1
{
	position: absolute;
	font-size: 22px;
	font-family: 'Roboto Slab', serif;
	color: rgb(255,255,255);
	text-align: center;
	top: 23px;
	left: 600px;
	margin: 0;


}
.strip_1 p{
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	color: rgb(255,255,255);
	position: absolute;
	top: 155px;
	left: 190px;
	position: relative;
	margin: 0;
}

.setup{
	position: relative;
	left: 222px;
	margin: 0;
}

.free{
	position: relative;
	left: 470px;
	margin: 0;
}

.strip_1 ul li{

	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	float: left;
	display: inline-block;
	margin-top: 60px;
	margin-left: 234px;
	margin-right: 80px;
	color:rgb(255,255,255);
}


.worth
{
	background-image: url(images_f/landing_thinking_ic.png);
	
	width: 100%;
	height:500px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 40px;
/*		top: 80px;*/
}

.worth p{
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	position: relative;
	left: 350px;
	color: rgb(255,255,255);
	margin: 0;

}



.strip_2{
	background-color: #013c4c;
	width: 100%;
	height: 175px;


}

.strip_2 p{
	position: absolute;
	margin:30px 80px 30px 80px;
	/*bottom: 30px;
	/*right: 80px;
	left: 80px;
	*/font-size: 14px;
	text-align: justify;
	font-family: 'Roboto Slab', serif;
	color:rgb(255,255,255);
}


.foo{
background-color: #01aee6;
width:100%;
height: 60px;
top: 0px;
margin:0;
}

.list{

	margin-right: 26px;
	margin-top: -24px;
}

.menu_s li{
position: relative;
	display: inline-block;
	margin-right: 40px;
	top:0px;
}

.foo p{
	position: relative;
	left: 80px;
	font-size: 14px;
	color: rgb(255,255,255);
	font-family: 'Roboto Slab', serif;
	top: 23px;
	margin: 0;
	
}

.copyright{
	position: relative;
	left: 225px;


}

.term{
position: relative;
left: 40px;

}
